<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Formulario</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="card p-4 shadow">
        <h3 class="text-center">Formulario de Usuario</h3>

        <form>
            <input type="text" class="form-control mb-3" placeholder="Nombre">
            <input type="email" class="form-control mb-3" placeholder="Email">
            <input type="number" class="form-control mb-3" placeholder="Edad">
            <input type="number" class="form-control mb-3" placeholder="Peso (kg)">
            <input type="number" class="form-control mb-3" placeholder="Altura (cm)">

            <select class="form-control mb-3">
                <option>Objetivo</option>
                <option>Bajar peso</option>
                <option>Ganar musculo</option>
                <option>Mantenerse</option>
            </select>

            <button class="btn btn-success w-100">Guardar</button>
        </form>

        <a href="/" class="btn btn-link mt-3">Volver</a>
    </div>
</div>

</body>
</html>